@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-text: #86ddff;
    --dark-blue: #002b8f;
    --mid-blue: #3ba0ff;
}

html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


/* Navbar section */


/* mobile navigation */

#mobile-nav {
    display: none;
}

.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none;
    height: 10vh;
    background-color: rgba(100, 100, 100, 0.2);
}

li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

#name {
    color: var(--blue-text);
    font-size: 30px;
    font-weight: bold;
}


/* Hero section */

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    background-image: url(/images/image1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 15s;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        text-replace: scale(1);
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(32, 31, 31, 0.4);
    z-index: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}

.firstWord {
    color: var(--blue-text)
}

.resume-cta {
    border: 2px solid var(--blue-text);
    width: 175px;
    padding: 30px;
    margin-top: 20px;
}

.resume-text {
    color: #fff;
}

.resume-cta:hover {
    background-color: rgb(100, 100, 100, 0.4);
}


/* Projects Section  */

.project-container {
    width: 100%;
    height: auto;
}

.project-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    /*if space makafyach l 3 dir ghir 1...*/
}

.first-project {
    width: 300px;
    height: 400px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    margin: 50px;
    background-image: url(/images/office.jpg);
    background-size: cover;
    background-position: center;
}

.second-project {
    width: 300px;
    height: 400px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    margin: 50px;
    background-image: url(/images/store.jpg);
    background-size: cover;
    background-position: center;
}

.third-project {
    width: 300px;
    height: 400px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    margin: 50px;
    background-image: url(/images/rust.jpg);
    background-size: cover;
    background-position: center;
}

.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    text-align: center;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
}

.text-container:hover {
    height: 260px;
}

.name {
    margin-top: 10px;
    text-align: center;
    color: var(--dark-blue);
    font-size: 2rem;
}

.content {
    padding: 25px 0;
    color: var(--mid-blue);
}

.button {
    border: 5px solid var(--blue-text);
    width: 160px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 50px;
}


/* About section */

.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: #f8f8f8;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.about-image {
    height: 450px;
    width: 400px;
    background-image: url(/images/Mee.jpg);
    background-size: cover;
    background-position: center;
}

.about-text {
    height: auto;
    width: 40%;
    font-size: 1.5rem;
    margin-left: 100px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 30%;
    margin: 25% 35%;
    padding-top: 30px;
}


/* Mobile view : 768px: a tablette*/

@media (max-width: 768px) {
    #nav {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
    .mobile-nav-bar {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }
    ul {
        background-color: rgba(0, 0, 0, 0.625)
    }
    .first-project {
        width: 250px;
        height: 400px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
        margin: 50px;
        background-image: url(/images/office.jpg);
        background-size: cover;
        background-position: center;
    }
    .second-project {
        width: 250px;
        height: 400px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
        margin: 50px;
        background-image: url(/images/store.jpg);
        background-size: cover;
        background-position: center;
    }
    .third-project {
        width: 250px;
        height: 400px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
        margin: 50px;
        background-image: url(/images/rust.jpg);
        background-size: cover;
        background-position: center;
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f8f8;
        box-shadow: 15px 7px 30px 7px rgba(0, 0, 0, 0.2);
    }
    .about-image {
        margin-top: 20px;
        height: 300px;
        width: 225px;
        background-image: url(/images/Mee.jpg);
        background-size: cover;
        background-position: center;
    }
    .about-text {
        margin-left: 20px;
        width: 100%;
        font-size: 0.75rem;
    }
    .social-icons i {
        font-size: 2rem;
        padding: 10px;
        margin-left: -10px;
    }
}